# General files and folders
.git/
.idea/
.mvn/

# Build directories
target/

# Maven wrapper jar
!.mvn/wrapper/maven-wrapper.jar

# Exclude all target folders, but keep relevant ones
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Environment variables or sensitive data
.env

# application.properties to keep safe from being pushed
application.properties

